.img-editor-outer-wrap{
  padding: 10px;
  height: 300px;
  overflow: auto;
}

.note{
  color: #434343;
  font-size: 14px;
  background: #f6f6f6;
  padding: 3px;
  letter-spacing: 1px;
}

.note-head{
  font-weight: 600;
  color: #000;
}

.editor-section{
  margin-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.file-upload-input{
  margin: 0px 0 15px;
}

.center-label,.center-checkbox{
  display: inline-block;
  vertical-align: middle;
}

.center-checkbox{
  width: 15px;
  height: 15px;
}