.img-view-outer-wrap{
  padding: 10px;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
  position: -webkit-sticky;
  /* position: sticky;
  top: 0; */
  background: #fff;
}

.abs-center{
  top: 50% !important;
  bottom: auto !important;
  left: 50% !important;
  right: auto !important;
  transform: translate(-50%, -50%);
}

.img-view-wrap{
  overflow: hidden;
  position: relative;
}

.bg-img{
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay-img{
  position: absolute;
  z-index: 1;
}

.overlay-text{
  padding: 5px;
  position: absolute;
  z-index: 2
}