.heading-1{
  font-size: 50px;
  font-weight: 800;
  font-family: sans-serif;
  margin: 5px 0 0;
  text-align: center;
  display: block;
  color: #4d52ff;
}

.heading-1 a{
  color: inherit;
}

.img-gallery > .container{
  margin-bottom: 100px;
}

footer{
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
}

footer a{
  color: inherit;
  text-decoration: underline;
}