.common-label{
  width: 80px;
  margin-right: -4px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 15px;
  color: #222;
}

.common-input{
  width: calc(100% - 90px);
  padding: 2px;
  border: 1px solid #ccc;
  margin-right: -4px;
  display: inline-block;
  vertical-align: middle;
}

.common-input:focus{
  box-shadow: 0 0 2px rgba(30,140,190,.8);
  border-color: #5b9dd9;
}

.editor-item{
  margin-bottom: 10px;
}